<%= form_for(@question) do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>

  <h3>Do you know the answer?</h3>
  <p>
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </p>

  <%= f.submit %>
  <% end %>

